name: Build Arch Package

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # نستخدم حاوية آرتش لينكس الرسمية مباشرة
    container:
      image: archlinux:latest

    steps:
      - name: Install dependencies
        run: |
          pacman -Syu --noconfirm base-devel git

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fix permissions for makepkg
        run: |
          # آرتش تمنع تشغيل makepkg كمسؤول (root) لذا ننشئ مستخدم عادي
          useradd -m builduser
          chown -R builduser:builduser .
          echo "builduser ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers

      - name: Build Package
        run: |
          # تشغيل البناء كالمستخدم الذي أنشأناه
          sudo -u builduser makepkg -s --noconfirm

      - name: Upload Package Artifact
        uses: actions/upload-artifact@v4
        with:
          name: arch-package
          path: ./*.pkg.tar.zst
